<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" dir="rtl">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="../static/styles.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

</head>

<body >
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm border">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <h4>פאנל אדמין</h4>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/product}">הוספת מוצר</a>
                    </li>
                    <li th:if="${action == 'in-sale'}"  class="nav-item">
                        <a class="nav-link" th:href="@{/admin/deleted}">מוצרים שנמחקו</a>
                    </li>
                    <li th:if="${action == 'deleted'}"  class="nav-item">
                        <a  class="nav-link" th:href="@{/admin}">מוצרים נמכרים</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}">חזרה לאתר</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- <div class="text-center mb-3">

        <h1>פאנל אדמין</h1>
        <div class="container m-auto my-4">
            <a class="btn btn-success rounded" th:href="@{/admin/product}">הוספת מוצר</a>
            <span >
                <a th:if="${action == 'in-sale'}" class="btn btn-primary border rounded" th:href="@{/admin/deleted}">מוצרים שנמחקו</a>
                <a th:if="${action == 'deleted'}" class="btn btn-primary rounded" th:href="@{/admin}">מוצרים נמכרים</a>
            </span>
            <a class="btn btn-warning " th:href="@{/admin/purchases}">טיפול בהזמנות</a>
            <a class="btn btn-danger" th:href="@{/}">חזרה לאתר</a>
        </div>
        <h2 th:if="${action == 'in-sale'}">מוצרים נמכרים</h2>
        <h2 th:if="${action == 'deleted'}">מוצרים שנמחקו</h2>

        
    </div> -->
    <div class="container text-right">

        <table class="table">
            <thead>
                <tr>
                    <th scope="ney">מקט</th>
                    <th scope="col">שם</th>
                    <th scope="col">מחיר</th>
                    <th scope="col">מחיר מבצע</th>
                    <th scope="col">קטגוריה</th>
                    <th scope="col">כמות במלאי</th>
                    <th scope="col">   </th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${products != null}" th:each="product: ${products}">
                    <th scope="row" th:text="${product.id}"></th>
                    <th scope="row" th:text="${product.name}"></th>
                    <th scope="row" th:text="${product.price}"></th>
                    <th scope="row"><span th:if="${product.salePrice > 0 && product.salePrice < product.price}" th:text="${product.salePrice}"></span></th>
                    <th scope="row"><span th:text="${product.category.name}"></span></th>
                    <th scope="row" th:text="${product.stock}"></th>

                    <td class="row"><a th:href="@{'/admin/product/' + ${product.id} + '?sell=' + ${product.inSale? 'true': 'false'}}" class="col btn btn-small btn-warning  rounded-0"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                      </svg></a>

                      <form th:if="${product.inSale}" class="col" th:action="@{'/admin/product/' + ${product.id}}" th:method="delete">
                        <button class="row btn btn-small rounded-0 btn-danger" type="submit">X</button>
                      </form>
                      <form th:if="${!product.inSale}" class="col" th:action="@{'/admin/product/in-sale/' + ${product.id}}" th:method="post">
                        <button class="row btn btn-small rounded-0 btn-success" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
                                <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
                              </svg>
                        </button>
                      </form>
                    </td>
                </tr>
             
            </tbody>
        </table>
    </div>
</body>

</html>