<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" dir="rtl">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="../static/styles.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

</head>

<body >
    <div class="text-center mb-3">

        <h1>פאנל אדמין</h1>
        <div class="container m-auto my-4">
            <a class="btn btn-success rounded" th:href="@{/admin/product}">הוספת מוצר</a>
            <span >
                <a th:if="${action == 'in-sale'}" class="btn btn-primary border rounded" th:href="@{/admin/deleted}">מוצרים שנמחקו</a>
                <a th:if="${action == 'deleted'}" class="btn btn-primary rounded" th:href="@{/admin}">מוצרים נמכרים</a>
            </span>
            <a class="btn btn-warning " th:href="@{/admin/product}">טיפול בהזמנות</a>
            <a class="btn btn-danger" th:href="@{/}">חזרה לאתר</a>
        </div>
        <h2 th:if="${action == 'in-sale'}">מוצרים נמכרים</h2>
        <h2 th:if="${action == 'deleted'}">מוצרים שנמחקו</h2>

        
    </div>
    <div class="container text-right">

        <table class="table">
            <thead>
                <tr>
                    <th scope="ney">מספר הזמנה</th>
                    <th scope="col">שם לקוח</th>
                    <th scope="col">כתובת למשלוח</th>
                    <th scope="col">מדינה</th>
                    <th scope="col">תאריך הזמנה</th>
                    <th scope="col">סטטוס הזמנה</th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${orders != null}" th:each="order: ${orders}">
                    <th scope="row" th:text="${order.id}"></th>
                    <th scope="row" th:text="${order.client.name}"></th>
                    <th scope="row"><span th:text="${order.address}"></span></th>
                    <th scope="row"><span th:text="${order.country}"></span></th>
                    <th scope="row"><span th:text="${order.date}"></span></th>
                    <th scope="row" th:text="${order.state}"></th>`
                </tr>
             
            </tbody>
        </table>
    </div>
</body>

</html>